* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	background-image: url(./images/bg-desktop.svg);
	background-color: #684bb1;
	min-height: 100dvh;
}
